body{
  font-family:"Times New Roman",Georgia,Serif;
	background-color: #ECF0F1;
}
.navbar{
  padding-left: 20px;
  font-size: 120%
}
.panel-body p{
  text-indent: 2em;
}
#footer {
  background-color: #6D0D6C;
  text-align: center;
}

#footer h2{
  color: white;
  
}
#footer p{
  float: left;
  text-indent: 0;
  color: white;
  margin-left: 90px;
}
#menu img{
    height: 35px;
}
#menu a:hover{
    color: #6D0D6C;
}
#info{
    margin-top: 0;
    color: white;
    background-color: #6D0D6C;
    text-align: center;
    font-style: italic;
}
#info a{
  color: white;
}
#carousel-generic{
    margin-top: -20px;
    text-align: center;
}
#carousel-generic img{
    width: 100%;
    height: 300px;
}
#mytimeline{
  margin-top: -70px;

}
#timeline {
    width: 1024px;
    height: 130px;
    overflow: hidden;
    margin: 100px auto;
    position: relative;
    background: url('../pic/dot.gif') left 45px repeat-x;
  }
#dates {
  width: 1024px;
  height: 60px;
  overflow: hidden;
}

#dates li {
  list-style: none;
  float: left;
  width: 100px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  background:  url('../pic/biggerdot.png') center bottom no-repeat;
}
#dates a {
  line-height: 38px;
  padding-bottom: 10px;
 }
 #dates .selected {
 font-size: 38px;
 }
#issues {
      width: 1024px;
      height: 350px;
      overflow: hidden;
}
#issues li {
  width: 1024px;
  height: 350px;
  list-style: none;
  float: left;
}
#issues li h1 {
  color: #ffcc00;
  font-size: 48px;
  margin: 20px 0;
  text-shadow: #000 1px 1px 2px;
}
#issues li p {
  font-size: 14px;
  margin-right: 70px;
  font-weight: normal;
  line-height: 22px;
  
}








